.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.imageContainer {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wordText {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text);
  text-transform: lowercase;
}

@media (max-width: 768px) {
  .imageContainer {
    width: 250px;
    height: 250px;
  }

  .wordText {
    font-size: 1.25rem;
  }
}